/* Write your CSS here */
.bg-container {
  display: flex;
}

.destination-container {
  display: flex;
  flex-direction: column;
}

.heading {
  color: #252627;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 700;
  margin-top: 48px;
  margin-left: 25px;
  margin-bottom: 22px;
}

.search-container {
  background-color: #f1f5f9;
  width: 240px;
  display: flex;
  margin-left: 37px;
  border-radius: 10px;
}

.input-search {
  margin-left: 2px;
  background-color: #f1f5f9;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  border-width: 0px;
  margin-right: 5px;
}

.image-icon {
  width: 30px;
}
